@media screen and (max-width:1399px) {}


@media screen and (max-width:1199px) {

    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #060606;
        transform: translateY(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateY(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2rem;
        width: 2rem;
    }
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }

    .banner_content h1 {
        font-size: 3rem;
    }
    .home_locations_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    .home_after_bnr_images {
        margin-bottom: 3rem;
    }

    .home_after_banner h2 {
        font-size: 2.5rem;
    }

    .featured_slider .slider.slider-for,
    .featured_slider .slider.slider-nav {
        max-width: 100%;
        float: none;
    }

    .featured_slider .slider.slider-for {
        padding-right: 0;
    }

    .featured_slider .slider.slider-nav {
        height: auto;
    }

    .slider.slider-nav.thumb-image {
        padding-top: 1.875rem;
    }

    .slider-nav .slick-slide span {
        padding: 0.3125rem 0;
    }

    .vehicle-detail-banner .car-slider-desc {
        max-width: 21.25rem;
    }

    .bid-tag {
        padding: 0.625rem 0 0.9375rem;
    }

    .slider.slider-nav.thumb-image {
        white-space: nowrap;
    }

    .thumbnail-image.slick-slide {
        padding: 0 0.3125rem;
        min-width: 4.6875rem;
        display: inline-block;
        float: none;
    }
    .img_part_outer {
        height: 25rem;
    }
    .hotel_cards_img_outer {
        height: 25rem;
        margin-bottom: 1.875rem;
    }

}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .ssl_certi {
        justify-content: center;
    }

    .copy_txt p {
        text-align: center;
    }

    .banner_content h1 {
        font-size: 2.5rem;
    }

    .banner {
        height: 32.875rem;
    }
    .slider.slider-nav.thumb-image {
        padding: 0 1.25rem 0;
        margin: 2.625rem 0 0;
    }

    .slider-nav .slick-slide.thumbnail-image .thumbImg {
        max-width: 8.75rem;
        height: 5rem;
    }

    .slider-nav .slick-slide span {
        font-size: 0.75rem;
        white-space: normal;
    }
    .section_heading {
        font-size: 2.5rem;
        line-height: 1.4;
    }
    .py-7 {
        padding: 3.375rem 0;
    }
    .links_footr ul li a {
        font-size: 1.4rem;
    }
    .slick-track {
        display: flex;
        gap: 0.625rem;
    }
    .text_part {
        padding: 3rem 0.625rem;
    }
    .hotel_cards_img_outer {
        height: 20rem;
    }
    .blog_desc_img {
        height: 25.25rem;
    }
}




@media screen and (max-width:575px) {
    .home_after_bnr_images {
        height: 35rem;
        flex-direction: column;
    }

    .home_after_bnr_images div:nth-child(1) {
        margin-bottom: 0;
        height: 100%;
    }

    .home_after_bnr_images div:nth-child(2) {
        margin-top: 0;
        height: 100%;
    }

    .home_after_banner h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    .home_locations_grid {
        grid-template-columns: 1fr;
    }
    .section_heading {
        font-size: 2.2rem;
        font-weight: 600;
    }
    .py-7 {
        padding: 2.375rem 0;
    }
    .menu-toggle-btn {
        height: 2rem;
        width: 2rem;
    }
    .brand-container a, .footer-logo a {
        width: 11.75rem;
    }
    .featured_slider_image {
        height: 20.5rem;
    }
    .form-row {
        grid-template-columns: 1fr;
    }
    .banner.sub_banner .banner_content h1 {
        font-size: 2rem;
    }
    .banner.sub_banner {
        height: 32rem;
    }
    .hotel_services {
        grid-template-columns: repeat(3,auto);
    }
    .hotel_cards_img_content h3 {
        font-size: 1.9rem;
    }
    .img_part_outer {
        height: 20rem;
    }
    .text_part {
        padding: 2rem 0.625rem;
    }
    .blog_page_card .what_we_offer_img_outer {
        height: 23rem;
    }
    .blog_desc {
        padding: 2rem 1.25rem;
    }
    .blog_desc_img {
        height: 22.25rem;
    }
}

@media screen and (max-width:480px) {

    .brand-container a,
    .footer-logo a {
        width: 11.75rem;
    }

    .banner_content h1 {
        font-size: 2rem;
    }

    .banner {
        height: 25.875rem;
    }

    .home_after_banner h2 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .section_heading {
        font-size: 1.8rem;
    }
    .home_why_us_content h5 {
        font-size: 1.1rem;
    }
    .links_footr ul li a {
        font-size: 1.3rem;
    }
    .links_footr h4 {
        font-size: 1.5rem;
    }
    .what_we_offer_img_outer {
        height: 17.875rem;
    }
    .home_why_us_icon_outer {
        margin: 0 auto;
    }
    .home_why_us_content {
        text-align: center;
    }
    .butn {
        font-size: 1rem;
    }
    .form-row input {
        font-size: 1rem;
    }
    .blog_link_content p {
        font-size: 1.1rem;
    }
    .slider-banner-content h3 {
        font-size: 1.6rem;
    }
    .banner.sub_banner {
        height: 28rem;
    }
    .hotel_services {
        grid-template-columns: repeat(2,auto);
    }
    .hotel_cards_img_content h3 {
        font-size: 1.7rem;
    }
    .img_part_outer {
        height: 17rem;
    }
    .home_why_us_icon_outer {
        height: 4rem;
        width: 4rem;
    }
    .hotel_cards_img_outer {
        height: 16rem;
    }
    .p-4 {
        padding: 1rem!important;
    }
    .banner.sub_banner .banner_content h1 {
        font-size: 1.7rem;
    }
    .blog_page_card .what_we_offer_img_outer {
        height: 20rem;
    }
    .blog_page_card .what_we_offer_content h5 {
        font-size: 1.1rem;
    }
    .blog_desc h2 {
        font-size: 1.5rem;
        line-height: 1.4;
    }
    .blog_desc_img {
        height: 18.25rem;
    }
    .mb-5 {
        margin-bottom: 2rem !important;
    }
}