@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    margin: 0;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
}

p {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

button,
textarea,
input {
    font-family: "Inter", sans-serif;
}

input {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.py-6 {
    padding: 3.75rem 0;
}

.pt-6 {
    padding-top: 3.75rem;
}

.pb-6 {
    padding-bottom: 3.75rem;
}

.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-8 {
    padding: 5rem 0;
}

.pt-8 {
    padding-top: 5rem;
}

.pb-8 {
    padding-bottom: 5rem;
}

.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg_center_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_center_contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_left_contain {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_left_cover {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_bottom_cover {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */

/* Website Scrollbar CSS  */
::-webkit-scrollbar {
    width: 0.9375rem;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #D89E27;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #D89E27;
}

/* Website Scrollbar CSS  */

/* Section Heading CSS Start */
.section_heading {
    color: #060606;
    font-size: 3rem;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    font-weight: 400;
}

span.theme {
    color: #D89E27;

}


.bg_dark {
    background-color: #060606;
}
.bg_theme {
    background-color: #d89e27;
}
.bg_light {
    background-color: #f5f5f7;
}

.text_white {
    color: #fff;
}

.text_theme {
    color: #D89E27;
}

.text_dark {
    color: #000000;
}

.aoshide {
    overflow: hidden;
}

.fancy_heading_footer_outer {
    width: 100%;
    max-width: 62.5rem;
    height: 2.5rem;
    margin-top: 0.9375rem;
}

.fancy_heading_footer {
    height: 100%;
    width: 100%;
}

/* Section Heading CSS End */

/* Button CSS Start */

.butn {
    padding: 0.625rem 1.5625rem;
    font-weight: 400;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #ebbe00;
    z-index: 1;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.1rem;
    overflow: hidden;
    letter-spacing: 1px;
    border-radius: 1.875rem;
}

.butn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: -1;
    background: #ebbe00;
    transition: all 0.3s ease;
}

.butn:hover {
    color: #000;
}

.butn:hover:after {
    top: 0;
    bottom: 0;
    height: 100%;
}

/* Button CSS End*/



/* Header CSS Start */
.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 0.625rem 0px;
    background-color: #060606;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 0;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.brand-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.brand-container a,
.footer-logo a {
    background-image: url(../images/logo.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 4.75rem;
    width: 14.75rem;
}

.menu-toggle-btn {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-menu {
    display: flex;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu ul li a {
    padding: 0.625rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    position: relative;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 1.1rem;
}

.navigation-menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #D89E27;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.navigation-menu ul li a.active{
    color: #D89E27;
}


.navigation-menu ul li a.active::after {
    transform: scaleX(0.9);
    background-color: #D89E27;
    transform-origin: center;
}

.navigation-menu ul li a:hover::after {
    transform: scaleX(0.9);
}

.navigation-menu ul li a:hover {
    color: #D89E27;
}

.menu-close-btn {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}

/* Header CSS End */

/* Banner CSS Start */
.banner {
    height: 40.875rem;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_wrap {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.banner_content h1 {
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.4;
    max-width: 50.625rem;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 500;
}


.banner_content p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 40.625rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.banner_btns {
    display: inline-flex;
    gap: 0.9375rem;
}

/* Banner CSS   End */

/* Home After Banner CSS Start */
.home_after_banner .row {
    align-items: center;
}

.home_after_banner {
    color: #000;
}

.home_after_banner h6 {
    letter-spacing: .35em;
    font-weight: 500;
    margin-bottom: 1rem;
}

.home_after_banner h2 {
    line-height: 1.15;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    font-weight: 400;
}

.home_after_banner p.lead {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 2rem 0 1.5rem;
}

.home_after_bnr_images {
    position: relative;
    height: 31.25erm;
    display: flex;
    gap: 1.25rem;
    overflow: hidden;
}

.home_after_bnr_images div:nth-child(1) {
    margin-bottom: 3rem;
    height: 90%;
}

.home_after_bnr_images div:nth-child(2) {
    margin-top: 3rem;
    height: 90%;
}

.after_banner_img {
    height: 100%;
    width: 100%;
    border-radius: 1.875rem;
}

.common_overlay {
    position: relative;
    overflow: hidden;
}

.common_overlay::before,
.common_overlay::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(216 158 39/0.3);
    pointer-events: none;
    transition: transform 0.2s ease;
}

.common_overlay::before {
    top: 0;
    transform: translateX(100%);
}

.common_overlay::after {
    bottom: 0;
    transform: translateX(-100%);
    transition-delay: 0.08s;
}

.common_overlay:hover::before,
.common_overlay:hover::after {
    transform: translateX(0);
}

/* Home After Banner CSS End */

.vehicle-detail-banner .car-slider-desc {
    max-width:11.25rem;
    margin: 0 auto;
}

.featured_slider .slider.slider-for {
    max-width: 84%;
    padding-right: 2.1875rem;
}

.featured_slider .slider.slider-nav {
    max-width: 16%;
}

.featured_slider .slider.slider-for,
.featured_slider .slider.slider-nav {
    width: 100%;
    float: left;
}

.featured_slider .slider.slider-nav {
    height: 38.75rem;
    overflow: hidden;
}

.slider-nav .slick-slide {
    margin: 0 !important;
    padding: 0 !important;
}

.featured_slider .slider.slider-for,
.featured_slider .slider.slider-nav {
    box-sizing: border-box;
}

.featured_slider_image {
    height: 37.5rem;
    width: 100%;
    border-radius: 1.875rem;
}

.featured_slider .slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 11.875rem;
    height: 6.875rem;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    border-radius: 1.875rem;
}


.featured_slider .slick-vertical .slick-slide:active,
.featured_slider.slick-vertical .slick-slide:focus,
.featured_slider .slick-arrow:hover,
.featured_slider .slick-arrow:focus {
    border: 0;
    outline: 0;
}

.featured_slider .slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
    border: 2px solid #D89E27;
}

.featured_slider.slider-nav .slick-slide.slick-current span {
    color: #D89E27;
}

.featured_slider .slider-nav .slick-slide {
    text-align: center;
}

.featured_slider .slider-nav .slick-slide span {
    font-size: 1.9375rem;
    display: block;
    padding: 0.3125rem 0 0.9375rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}

.featured_slider .slick-arrow {
    display: none;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
    background-color: #fff;
}

.slick-prev.slick-arrow {
    background-image: url(../images/black-up-arrow.png);
}

.slick-next.slick-arrow {
    background-image: url(../images/black-down-arrow.png);
}

.slider-banner-content {
    padding: 1rem 0 0;
}


.slider-banner-content h3 {
    font-size: 2rem;
    font-weight: 400;
}

@media screen and (max-width : 991px) {

    .featured_slider .slider.slider-for,
    .featured_slider .slider.slider-nav {
        max-width: 100%;
        float: none;
    }

    .featured_slider .slider.slider-for {
        padding-right: 0;
    }

    .featured_slider .slider.slider-nav {
        height: auto;
    }

    .slider.slider-nav.thumb-image {
        padding-top: 1.875rem;
    }

    .slider-nav .slick-slide span {
        padding: 0.3125rem 0;
    }

    .slick-arrow {
        padding: 0;
        width: 1.875rem;
        height: 1.875rem;
        top: 50%;
        bottom: 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }

    .slick-prev {
        left: 0;
        right: unset;
    }

    .slick-next {
        left: unset;
        right: 0;
        background-color: transparent;
    }

    .vehicle-detail-banner .car-slider-desc {
        max-width: 21.25rem;
    }

    .bid-tag {
        padding: 0.625rem 0 0.9375rem;
    }

    .slider.slider-nav.thumb-image {
        white-space: nowrap;
    }

    .thumbnail-image.slick-slide {
        padding: 0 0.3125rem;
        min-width: 4.6875rem;
        display: inline-block;
        float: none;
    }
}

@media screen and (max-width : 767px) {
    .slider.slider-nav.thumb-image {
        padding: 0 1.25rem 0;
        margin: 0.625rem 0 0;
    }

    .slider-nav .slick-slide.thumbnail-image .thumbImg {
        max-width: 8.75rem;
        height: 5rem;
    }

    .slick-prev.slick-arrow {
        background-position: center 10px;
    }

    .slick-next.slick-arrow {
        background-position: center 10px, center;
    }

    .slider-nav .slick-slide span {
        font-size: 0.75rem;
        white-space: normal;
    }
}



.home_locations_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 1024px) {
    .home_locations_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .home_locations_grid {
        grid-template-columns: 1fr;
    }
}

.home_loc_card {
    position: relative;
    height: 15.625rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.35s ease;
    border-radius: 1.875rem;
}

.home_loc_card::before,
.home_loc_card::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(216 158 39 / 0.9);
    pointer-events: none;
    transition: transform 0.2s ease;
    z-index: 1;
}

.home_loc_card::before {
    top: 0;
    transform: translateX(100%);
}

.home_loc_card::after {
    bottom: 0;
    transform: translateX(-100%);
    transition-delay: 0.08s;
}

.home_loc_card:hover::before,
.home_loc_card:hover::after {
    transform: translateX(0);
}

.home_loc_text {
    position: absolute;
    inset: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .25s ease .08s, transform .25s ease .08s;
    z-index: 2;
}

.home_loc_card:hover .home_loc_text {
    opacity: 1;
    transform: translateY(0);
}



/* Home What We Offer CSS Start */
.home_what_we_offer_card {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: 0.1s all linear;
}

.home_what_we_offer_card:hover {
    transform: translateY(-3px);
}

.home_what_we_offer_card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 1.875rem;
}

.home_what_we_offer_card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #d89e27;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
    border-radius: 1.875rem;
}

.home_what_we_offer_card:hover::after {
    transform: scaleX(1);
}

.what_we_offer_img_outer {
    height: 21.875rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1.875rem;
}

.what_we_offer_content h5 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
}

.home_what_we_offer_card:hover .what_we_offer_content h5 {
    color: #D89E27;
}

.what_we_offer_img {
    height: 100%;
    width: 100%;
}

.common_overlay_second .box {
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgba(216, 158, 39, 0.3);
    transition: transform 0.4s ease;
    z-index: 2;
}

.common_overlay_second .box1 {
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.common_overlay_second .box2 {
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}


.common_overlay_second .box3 {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
}

.common_overlay_second .box4 {
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
}

.common_overlay_second:hover .box {
    transform: translate(0, 0);
}

.what_we_offer_content {
    padding: 1.25rem 0;
}

/* Home What We Offer CSS End */

/* Home Why Us CSS Start */
.home_why_wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.home_why_us_icon_outer {
    height: 5rem;
    width: 5rem;
}

.home_why_us_icon {
    height: 100%;
    width: 100%;
}

.home_why_us_content {
    padding: 1rem 0;
}

.home_why_us_content h5 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
}

/*Home Why Us CSS End*/

/* Blog Links CSS Start */
.blog_link_card {
    display: block;
    border: 3px solid #D89E27;
    border-radius: 1.875rem;
    height: 100%;
    transition: 0.1s all linear;
}

.blog_link_card:hover {
    transform: translateY(-3px);
}

.blog_link_img_outer {
    position: relative;
    height: 15.625rem;
    overflow: hidden;
    width: 100%;
    border-radius: 1.875rem 1.875rem 0 0;
}

.blog_link_img {
    height: 100%;
    width: 100%;
}

.blog_links_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.blog_link_content {
    padding: 1.25rem;
}

.blog_link_content p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3;
    color: #d89e27;
}

/* Blog Links CSS End */

/* News Letter CSS Start */
.form-row {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 40.625rem;
    gap: 1rem;
}

.be_bestt {
    width: 100%;
}

.be_best {
    width: 100%;
}

.form-row input {
    color: #D89E27 !important;
    background-color: #060606;
    border: 1px solid #000;
    outline: none;
    margin: 0;
    padding: 0.875rem 1.25rem;
    border-radius: 1.875rem;
    font-size: 0.6875rem;
    line-height: 1;
    font-weight: 500;
}

.form-row input::placeholder {
    color: #D89E27;
}

.form-row input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #060606;
}
.newsletter_btn ,.newsletter_btm_btn ,.hotels_last_sec .text_img_btn{
    color: #060606;
    border-color: #060606;
}
.newsletter_btn:hover ,.newsletter_btm_btn:hover ,.hotels_last_sec .text_img_btn:hover {
    color: #d89e27;
}
.newsletter_btn::after ,.newsletter_btm_btn::after ,.hotels_last_sec .text_img_btn::after {
    background: #060606;
}
/* News Letter CSS End */


/* Footer CSS Start */
.site_footer {
    border-top: 1px solid #060606;
}
.footer_logo a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3.75rem;
    width: 8.75rem;
    background-image: url(../images/logo.svg);
}
.footr_blcks h3 {   
    color: #D89E27;
    font-size: 1.0625rem;
    line-height: 0.9375rem;
    padding-bottom: 0.78125rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
}

.disclaimer p {
    font-size: 0.9rem;
    color: #fff;
}

.links_footr ul li a {
    color: #6d6c6c;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    transition: 0.3s all ease-in-out;
}

.links_footr ul li a:hover {
    color: #D89E27;
    transform: translateX(3px);
}

.footer_email {
    color: #6d6c6c;
    font-size: 1.3rem;
    display: inline-block;
    margin-bottom: 0.9375rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-right: 0.3125rem;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #D89E27;
    border-radius: 0.3125rem;
    transition: 0.2s all ease-in-out;
    padding: 0.625rem;
    border-radius: 50%;
}

.social-links a:hover {
    transform: translateY(-5px);
}
.social-links a svg {
    fill: #fff;
    height: 100%;
    width: 100%;
}

.bottom_strip {
    border-top: 1px solid #fff;
}

.copy_txt p {
    font-size: 0.9rem;
    color: #fff;
}

.ssl_certi {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.625rem 0;
}

.ssl_certi_inner {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 12.5rem;
    background-image: url(../images/ssl.png);
}

.footer_links_col {
    background: #fff;
}
.links_footr h4 {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.footer_logo h3 {
    font-size: 1.5rem;
    line-height: 1.4;
}
/* Footer CSS End*/

/* Other Pages CSS Start */
.hotel_cards {
    margin-bottom: 5rem;
}
.banner.sub_banner {
    height: 35rem;
}
.banner.sub_banner .banner_content h1 {
    font-size: 2.5rem;
}
.hotel_cards_img_outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1.875rem;
}
.hotel_cards_img {
    height: 100%;
    width: 100%;
}
.hotel_location {
    padding: 0.625rem;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 1.875rem;
}
.hotel_services {
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 0.9375rem;
}
.hotel_services span {
    padding: 0.625rem;
    background:#fff;
    line-height: 1;
    text-align: center;
    border-radius: 1.875rem;
}
.hotel_cards_img_content h3 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2rem;
}
/* Other Pages CSS End */

/* Image Text Section Start */

.img_part {
    height: 100%;
    width: 100%;
}

.text_part {
    padding: 5rem 1.875rem;
}

.text_part h3 {
font-size: 2rem;
font-weight: 400;
}

.text_part p {
    font-size: 1rem;
}


.home_explore_wrap .row .col-lg-7 {
    padding: 0;
}
.img_part_outer {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 1.875rem;
}


/* Image Text Section End */

/* Blog Page CSS Start */
.blog_page_card{
    display: block;
}
.blog_page_cards_sec .row {
    max-width: 1100px;
    margin: 0 auto;
}
.blog_page_card .what_we_offer_content h5 {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
}
.home_what_we_offer_card.blog_page_card::before {
        background: #000;
}

.blog_page_card .what_we_offer_img_outer {
    height: 25rem;
}
/* Blog Page CSS End */

/* Blog Description Pages CSS Start */

.blog_desc_img {
    height: 31.25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1.875rem;
    position: relative;
    border:3px solid #D89E27;
}

.blog_desc {
    padding: 2.5rem 1.875rem;
    border-radius: 20px;
    box-shadow: #191919 0px 3px 8px;
    background: #111111;
}

.blog_desc p {
    color: #313131;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
}

.blog_desc ul li {
    list-style-type: disc;
    margin-left: 1rem;
}

.blog_desc li::marker {
    color: #D89E27;
}

.blog_desc ul li p {
    line-height: 1;
}

.blog_desc h3 {
    font-size: 1.5rem;
    color: #D89E27;
}

.blog_desc h2 {
    font-size: 2rem;
    color: #D89E27;
}

/* Blog Description Pages CSS End*/

/* About Page CSS Start */
.about_card {
    background: #060606;
    border-radius: 1.875rem;
    padding: 1.25rem;
    height: 100%;
}
.about_card_img_outer {
    height: 20rem;
    overflow: hidden;
    position: relative;
    border-radius: 1.975rem;
}
.about_card_img {
    height: 100%;
    width: 100%;
}
.about_last_heading {
    padding: 1.25rem;
    background: #060606;
    border-radius: 7.875rem;
}
.about_card_content {
    padding: 1.25rem 0;
}
/* About Page CSS End */

/* Contact Page CSS Start */
.after_banner_content ul li {
    list-style-type: disc;
    margin-left: 1.25rem;
}

/* Contact Page CSS End */